#products_list_wrap {
	width: 100%;
	min-width: 1200px;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
}

#products_list_wrap.none {
	margin-top: 80px;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
}

#products_list_wrap ul {
	font-size: 0;
}

#products_list_wrap ul li {
	display: inline-block;
	width: 30%;
	margin: 80px 0 0 5%;
	vertical-align: top;
	text-align: center;
}

#products_list_wrap ul li:nth-child(-n+3) {
	margin-top: 0;
}

#products_list_wrap ul li:nth-child(3n-2) {
	margin-left: 0;
}

#products_list_wrap .image {
	display: block;
	padding-bottom: 100%;
	border: 1px solid #ddd;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#products_list_wrap p {
	margin-top: 30px;
	font-size: 15px;
	font-weight: 100;
}

#products_list_wrap .name {
	font-size: 15px;
	font-weight: 300;
}

#products_list_wrap .bt_move_wrap {
	margin-top: 20px;
}

#products_list_wrap .bt_move {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	border-left: 0;
	background-image: url(/resources/img/comm/arrow_black.png);
	background-repeat: no-repeat;
	background-size: 40px;
	text-indent: -100px;
	overflow: hidden;
}

#products_list_wrap .bt_move:first-child {
	border-left: 1px solid #ddd;
}

#products_list_wrap .bt_move.prev {
	background-position: 10px -25px;
}

#products_list_wrap .bt_move.prev.off {
	background-position: 10px 9px;
}

#products_list_wrap .bt_move.next {
	background-position: -21px -25px;
}

#products_list_wrap .bt_move.next.off {
	background-position: -21px 9px;	
}

#products_list_wrap .bt_move.off {
	cursor: default;
}

#products_list_wrap .bt_wrap {
	margin-top: 80px;
	text-align: center;
}

.detail_slider_wrap {
	width: 100%;
    min-width: 1200px;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.detail_slider {
	
}

.detail_slider .item {
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
    border-radius: 15px;
    text-indent: -1000px;
    overflow: hidden;
}

.detail_slider_wrap .bx-wrapper .bx-controls-direction a {
	border: 1px solid #ddd;
	border-radius: 0;
	background-color: #fff;
	background-image: url(/resources/img/comm/slider_arrow_black.png);
}

.detail_slider_wrap .bx-wrapper .bx-prev {
	left: 0;
}

.detail_slider_wrap .bx-wrapper .bx-next {
	right: 0;
}

.detail_slider_pager {
	margin: 40px 0;
	text-align: center;
	font-size: 0;	
}

.detail_slider_pager a {
	display: inline-block;
	margin: 0 5px;
}

.detail_slider_pager a img {
	width: 90px;
	border: 1px solid #eee;
	border-radius: 5px;
}

#products_info_wrap {
	width: 100%;
    min-width: 1200px;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

#products_info_wrap th {
	width: 12%;
}

#products_info_wrap td {
	width: 38%;
}

#products_info_wrap .bt_wrap {
	margin-top: 40px;
	text-align: center;
}

.imgUpload_list {
	font-size: 0;
}

.imgUpload_list li {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 80px;
	margin: 5px;
	vertical-align: top;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.imgUpload_list .bt_imgDelete {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	background: rgba(0, 0, 0, 0.4) url(/resources/img/comm/bt_imgDelete.png) no-repeat 50% 50% /8px;
	text-indent: -500px;
	overflow: hidden;
}

.imgUpload_list .bt_imgUpload {
	width: 100%;
	height: 100%;
	border: 1px solid #b5a388;
	font-size: 15px;
	color: #b5a388;
}

#login_wrap {
	width: 800px;
	margin: 0 auto;
	padding: 80px 0;
	border: 1px solid #ddd;
	text-align: center;
}

#login_wrap p {
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 300;
}

@media (max-width: 1000px ) {
	#products_list_wrap {
		min-width: 320px;
		padding: 0 20px;
	}
	
	#products_list_wrap ul li {
		width: 30%;
		margin: 40px 0 0 5%;
	}
	
	#products_list_wrap p {
		display: none;
	}
	
	#products_list_wrap .name {
		display: block;
		margin-top: 10px;
		font-size: 12px;
	}
	
	#products_list_wrap .bt_move_wrap {
		margin-top: 10px;
	}
	
	#products_list_wrap .bt_move {
		width: 19px;
		height: 19px;
		background-size: 30px;
	}
	
	#products_list_wrap .bt_move.prev {
		background-position: 6px -21px;
	}
	
	#products_list_wrap .bt_move.prev.off {
		background-position: 6px 4px;
	}
	
	#products_list_wrap .bt_move.next {
		background-position: -18px -21px;
	}
	
	#products_list_wrap .bt_move.next.off {
		background-position: -18px 4px;
	}
	
	#products_list_wrap.none {
		margin-top: 40px;
		padding: 0;
	}
	
	.detail_slider_wrap {
		min-width: 320px;
		padding: 0;
	}
	
	.detail_slider .item {
		height: 300px;
		border-radius: 0;
	}
	
	.detail_slider_pager {
		margin: 20px 0;
	}
	
	.detail_slider_pager > div {
		width: 100%;
		overflow-x: auto;
		/* 스크롤바 숨기기 */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	
	.detail_slider_pager > div::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera*/
	}
	
	.detail_slider_pager > div > div {
		margin: 0 auto;
	}
	
	.detail_slider_pager a {
		margin: 0 2px;
	}
	
	.detail_slider_pager a:first-child {
		margin-left: 20px;
	}
	
	.detail_slider_pager a:last-child {
		margin-right: 20px;
	}
	
	.detail_slider_pager a img {
		width: 40px;
	}
	
	#products_info_wrap {
		min-width: 320px;
		padding: 0 20px;
	}
	
	#products_info_wrap th,
	#products_info_wrap td {
		padding: 8px 5px;
	}
	
	#products_info_wrap th {
		width: 20%;
	}
	
	#products_info_wrap td {
		width: 30%;
	}
	
	#products_info_wrap .bt_wrap {
		margin-top: 20px;
	}
	
	#login_wrap {
		width: 300px;
		padding: 30px 20px;
		box-sizing: border-box;
	}
	
	#login_wrap p {
		margin-bottom: 15px;
		font-size: 13px;
		word-break: keep-all;
	}
}