html, body, #wrap { min-height: 100%; }

html.fixed {
	overflow: hidden;
}

#wrap {
	width: 100%;
	min-width: 1200px;
}

header {
	position: relative;
	z-index: 2;
}

#headerWrap {
	position: relative;
	width: 100%;
	min-width: 1200px;
	height: 96px;
	box-sizing: border-box;
	background: #fff;
	text-align: right;
	z-index: 2;
}

#header {
	width: 100%;
	min-width: 1200px;
	height: 96px;
	background: #fff;
}

#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header.line {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header > div {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
}

#header h1 {
	float: left;
	margin-top: 28px;
}

#header h1 img {
	height: 40px;
}

#gnbWrap,
#header .right {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

#gnbWrap {
	margin-right: 30px;
}

#gnbWrap .dep1 > li {
	position: relative;
	display: inline-block;
}

#gnbWrap .dep1 > li > a {
	display: block;
	height: 100%;
	padding: 38px 24px 0 24px;
	box-sizing: border-box;
	line-height: 100%;
	font-size: 17px;
	font-weight: 300;
}

#gnbWrap .dep1 > li:hover .dep2 {
	display: block;
}

#gnbWrap .dep1 > li:hover > a {
	font-weight: 400;
}

#gnbWrap .dep2 {
	display: none;
	position: absolute;
	top: 95px;
	left: 0;
	width: 200px;
	border: 1px solid #eee;
	background: #fff;
	text-align: left;
}

#gnbWrap .dep2 > li {
	border-top: 1px solid #eee;
}

#gnbWrap .dep2 > li:first-child {
	border-top: 0;
}

#gnbWrap .dep2 > li > a {
	display: block;
	height: 49px;
	padding: 15px 0 0 25px;
	box-sizing: border-box;
	line-height: 100%;
	font-size: 16px;
	font-weight: 300;
}

#gnbWrap .dep2 > li > a:hover {
	background: #b5a488;
	font-weight: 400;
	color: #fff;
}

#header .bt_search,
#header .bt_insta,
#header .bt_menu {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;	
}

#header .bt_search img {
	width: 24px;
}

#header .bt_insta {
	margin-left: 30px;
}

#header .bt_insta img {
	width: 26px;
}

#header .bt_menu {
	display: none;
}

#gnbWrap_mobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 320px;
	height: 100%;
	z-index: 1;
}

#gnbWrap_mobile .bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

#gnbWrap_mobile .cont {
	position: absolute;
	top: 0;
	right: -240px;
	width: 240px;
	height: 100%;
	background: #fff;
	text-align: left;
	transition: 0.5s;
}

#gnbWrap_mobile .cont > div {
	width: 300px;
	height: 100%;
	overflow-y: auto;
}

#gnbWrap_mobile .logo {
	width: 240px;
	height: 60px;
	padding: 15px 20px 0 20px;
	box-sizing: border-box;
}

#gnbWrap_mobile .logo img {
	height: 30px;
}

#gnbWrap_mobile .dep1 {
	width: 240px;
}

#gnbWrap_mobile .dep1 > li {
	border-bottom: 1px solid #ddd;
}

#gnbWrap_mobile .dep1 > li > a {
	display: block;
	padding: 10px 20px;
	background: url(/resources/img/comm/menu_close.png) no-repeat 91% 50% /8px;
	font-size: 14px;	
}

#gnbWrap_mobile .dep1 > li.on > a {
	background-color: #b5a488;
	background-image: url(/resources/img/comm/menu_open.png);
	color: #fff;
}

#gnbWrap_mobile .dep1 > li:first-child > a {
	border-top: 1px solid #ddd;
}

#gnbWrap_mobile .dep2 {
	display: none;
	padding: 12px 20px;
}

#gnbWrap_mobile .dep2 > li {
	margin-top: 5px;
}

#gnbWrap_mobile .dep2 > li:first-child {
	margin-top: 0;
}

#gnbWrap_mobile .dep2 > li > a {
	font-size: 14px;
}

#containerWrap {
	position: relative;
	z-index: 1;
}

#footerWrap {
	position: relative;
	margin-top: 80px;
	border-top: 1px solid #e5e5e5;
	z-index: 1;
}

#footerWrap > div {
	position: relative;
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	padding: 22px 50px 24px 50px;
	box-sizing: border-box;
}

#footerWrap ul {
	margin-top: 2px;
	font-size: 0;
}

#footerWrap ul:first-child {
	margin-top: 0;
}

#footerWrap li {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 13px;
	font-weight: 300;
	color: #999;
}

#footerWrap li:first-child {
	margin-left: 0;
	padding-left: 0;
}

#footerWrap li::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 1px;
	height: 12px;
	background: #e5e5e5;
}

#footerWrap li:first-child::before {
	display: none;
}

#footerWrap .right {
	position: absolute;
	top: 22px;
	right: 50px;
	text-align: right;
	font-size: 0;
}

#footerWrap .right a {
	display: inline-block;
	margin-left: 10px;
	font-size: 13px;
	font-weight: 300;
	color: #999;
}

#footerWrap .right a:first-child {
	margin-left: 0;
}

.popupWrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 3;
}

.popupWrap .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.popupWrap .popup_view_wrap {
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
}

.popupWrap .popup_view_wrap > div {
	display: table-cell;
	vertical-align: middle;
}

.popupWrap .popup_view {
	text-align: left;
}

.popupWrap .bt_popup_close {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 24px;
	height: 24px;
	background: url(/resources/img/comm/bt_close_white.png) no-repeat 0 0 /24px;
	text-indent: -1000px;
	overflow: hidden;
}

/* popup1 : 이미지 변경 팝업 */
.popup1 .popup_view {
	width: 300px;
	margin: 0 auto;
	padding: 50px;
	background: #fff;

}

.popup1 .ipt1 {
	display: block;
	width: 100%;
	margin-top: 10px;
}

.popup1 .address {
	margin-top: 10px;
	font-size: 13px;
	font-weight: 300;
}

.popup1 .bt_del {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	background: url(/resources/img/comm/bt_close_black.png) no-repeat 0 0 /10px;
	text-indent: -100px;
	overflow: hidden;
}

#contentsTop {
    width: 100%;
    min-width: 1200px;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
	border-radius: 15px;
    background: url(/resources/img/comm/contentsTop.png) no-repeat 50% 50% /240px;
}

#contentsTop > div {
	position: relative;
	width: 100%;
	height: 300px;
    box-sizing: border-box;
	border-radius: 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#contentsTop .bt_change {
	position: absolute;
	top: 20px;
	right: 20px;
	border-color: #777;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#contentsTitle {
	width: 100%;
	min-width: 1200px;
	max-width: 1350px;
	margin: 80px auto 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
	text-align: center;
}

#contentsTitle h2 {
	margin-bottom: 40px;
	line-height: 100%;
	font-size: 36px;
	font-weight: 300;
}

#contentsTitle ul {
	display: table;
	width: 100%;
	font-size: 0;
}

#contentsTitle ul li {
	display: table-cell;
	padding: 12px 0;
	vertical-align: middle;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-left: 0;
}

#contentsTitle ul li:first-child {
	border-left: 1px solid #ddd;
}

#contentsTitle ul li.on {
	border-color: #b5a488;
	background: #b5a488;
}

#contentsTitle ul li a {
	width: 100%;
	box-sizing: border-box;
	font-size: 17px;
	font-weight: 300;
}

#contentsTitle ul li.on a {
	font-weight: 400;
	color: #fff;
}

#contentsTitle ul li a span {
	font-size: 15px;
	font-weight: 100;
}

#contentsSearch {
	width: 100%;
	min-width: 1200px;
	max-width: 1350px;
	margin: 30px auto;
	padding: 0 50px;
	box-sizing: border-box;
}

#contentsSearch > div {
	position: relative;
	min-height: 44px;
	padding-top: 12px;
	box-sizing: border-box;
}

#contentsSearch .text {
	font-size: 14px;
	font-weight: 300;
}

#contentsSearch .search_area {
	position: absolute;
	top: 0;
	right: 0;
}

#contentsSearch .search_area input[type="text"] {
	width: 280px;
	height: 44px;
	padding-left: 14px;
	box-sizing: border-box;
	border-radius: 2px;
	background: #f5f5f5;
	font-size: 14px;
	font-weight: 100;
}

#contentsSearch .search_area input[type="button"] {
	position: absolute;
	top: 50%;
	right: 14px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: url(/resources/img/comm/bt_search.png) no-repeat 0 0 /20px;
	text-indent: -1000px;
	overflow: hidden;
}


#callcenter {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 240px;
	height: 70px;
	border-radius: 1000px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	z-index: 1;
}
#callcenter::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: #aea089 url(/resources/img/comm/call.png) no-repeat 50% 50% /32px;
}

#callcenter > a {
	position: relative;
	display: block;
	padding-top: 8px;
	padding-left: 90px;
	box-sizing: border-box;
	line-height: 210%;
}
	
#callcenter span {
	font-size: 16px;
	font-weight: 100;
}

#callcenter strong {
	display: block;
	font-size: 22px;
	color: #483128;
}
@media (max-width: 1000px ) {
	#wrap {
		min-width: 320px;
	}
	
	#headerWrap {
		min-width: 320px;
		height: 60px;
	}
	
	#header {
		min-width: 320px;
		height: 60px;
	}
	
	#header > div {
		padding: 0 20px;
	}
	
	#header h1 {
		margin-top: 15px;
	}
	
	#header h1 img {
		height: 30px;
	}
	
	#gnbWrap {
		display: none;
	}
	
	#gnbWrap, #header .right {
		margin-top: 18px;
	}
	
	#header .bt_search img {
		width: 20px;
	}
	
	#header .bt_insta {
		margin-left: 20px;
	}
	
	#header .bt_insta img {
		width: 22px;
	}
	
	#header .bt_menu {
		display: inline-block;
		margin-left: 20px;
	}
	
	#header .bt_menu img {
		width: 21px;
	}
	
	#contentsTop {
		background-size: 120px;
	}
	
	#footerWrap {
		margin-top: 40px;
	}
	
	#footerWrap > div {
		padding: 15px 20px;
	}
	
	#footerWrap li {
		margin-left: 0;
		margin-right: 10px;
		padding-left: 0;
		font-size: 11px;
	}
	
	#footerWrap li::before {
		display: none;
	}
	
	#footerWrap .right {
		top: unset;
		bottom: 15px;
		right: 20px;
	}
	
	#footerWrap .right a {
		font-size: 11px;
	}
	
	#contentsTop {
		min-width: 320px;
		padding: 0 20px;
	}
	
	#contentsTop > div {
		height: 100px;
	}
	
	#contentsTitle {
		min-width: 320px;
		margin-top: 20px;
		padding: 0 20px;
	}
	
	#contentsTitle h2 {
		margin-bottom: 20px;
		font-size: 20px;
	}

	#contentsTitle ul li {
		padding: 6px 0;
	}
	
	#contentsTitle ul li a {
		font-size: 12px;
	}
	
	#contentsTitle ul li a span {
		font-size: 12px;
	}
	
	#contentsSearch {
		min-width: 320px;
		margin: 10px 0 20px 0;
		padding: 0 20px;
	}
	
	#contentsSearch > div {
		min-height: auto;
		padding-top: 0;
	}
	
	#contentsSearch .text {
		display: none;
	}
	
	#contentsSearch .search_area {
		position: relative;
	}
		
	#contentsSearch .search_area input[type="text"] {
		width: 100%;
		height: 32px;
	}
	
	#contentsSearch .search_area input[type="button"] {
		right: 10px;
		width: 16px;
		height: 16px;
		margin-top: -8px;
		background-size: 16px;
	}
	
	#callcenter {
		left: auto;
		right: 20px;
		width: 40px;
		height: 40px;
	}
	#callcenter::before {
		width: 40px;
		height: 40px;
		background-size: 20px;
	}
}